<p id="notice"><%= notice %></p>

<h1>Lista de Videos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Duração</th>
      <th>Tipo</th>
      <th>Idade recomendada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><%= video.duration %></td>
        <td><%= video.video_type %></td>
        <td><%= video.recommended_age %></td>
        <td><%= link_to 'Mostrar', video, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Editar', edit_video_path(video), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Destruir', video, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Video', new_video_path, class: 'btn btn-primary'%>
